@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{ font-family: 'Lato',sans-serif;
      background-color: #9e9e9e;}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}
.hamburguer {
    width: 2.2rem;
    height: 3.2rem;
    position: absolute;
    z-index: 100;
    right: 16rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
  
.show-menu .hamburguer {
    right: 16rem;
}
.line {
    width: 100%;
    height: 0.090rem;
    background-color: black;
    transition: transform 1s;
}
      
.show-menu #line1 {
    transform: rotate(43deg) translate(0.6rem, 0.55rem);
        
}
.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3 {
    transform: rotate(-43deg) translate(0.4rem, -0.45rem);
}
.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: rgb(56, 55, 55);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
}
      
.show-menu .sidebar {
    right: 0;
}
  
.menu {
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translate(-50%, -50%);
}
  
.menu-item {
    text-align: center;
    margin-bottom: .7rem;
    position: relative;
    bottom: 6rem;
}
  
.menu img{
    position: relative;
    top: 18rem;
}

.menu-link {
    font-size: 1.7rem;
    color: white;
    transition: color 0.1s;
    padding: 2%;
}   
      
.menu-link:hover {
    color: #227df6;
}
.social-media {
    position: absolute;
    bottom: 2rem;
    width: 16%;
    display: flex;
    height: 8%;
    margin-left: 25%;
    cursor: pointer;
}
.pedidos{
    position: absolute;
    color: white;
    bottom: 3rem;
    margin-left: 48%;
    font-size: large;
    cursor: pointer;
}
.pedidos:hover{
    color: #227df6;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.sessao-header h1 {
    font-size: 2.6rem;
    color: black;
    margin-bottom: 1.5rem;
    position: absolute;
    top: 2%;
}

.categorias {
    width: 16rem;
    height: 15rem;
    position: absolute;
    left: 4rem;
    bottom: 17rem;
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.img{
    width: 100%;
    height: 100%;
    background-color: #262626;
}
.img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.categorias .img p{
    position: absolute;
    bottom: -6.3rem;
    left: 0rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #555;
    margin-bottom: 1.8rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 240px ;
}
.img-2{
    width: 100%;
    height: 100%;
    background-color: #262626;
    position: relative;
    left: 20rem;
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    bottom: 15rem;
}
.img-2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.img-2 p{
    position: absolute;
    bottom: -5.5rem;
    left: -1rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #555;
    margin-bottom: .8rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 290px ;
}
.img-3{
    width: 100%;
    height: 100%;
    background-color: #262626;
    position: relative;
    left: 40rem;
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    bottom: 30rem;
}
.img-3 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.img-3 p{
    position: absolute;
    bottom: -5.5rem;
    width: 14rem;
    left: -1rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #555;
    margin-bottom: .8rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 290px ;
}
.img-4{
    width: 100%;
    height: 100%;
    background-color: #262626;
    position: relative;
    left: 60rem;
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    bottom: 45rem;
}
.img-4 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.img-4 p{
    position: absolute;
    bottom: -5.5rem;
    width: 14rem;
    left: 0rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #555;
    margin-bottom: .8rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 290px ;
}
.img-5{
    width: 100%;
    height: 100%;
    background-color: #262626;
    position: relative;
    left: 20rem;
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    bottom: 40rem;
}
.img-5 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.img-5 p{
    position: absolute;
    bottom: -6rem;
    width: 14rem;
    left: -1rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #555;
    margin-bottom: .8rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 290px ;
}
.img-6{
    width: 100%;
    height: 100%;
    background-color: #262626;
    position: relative;
    left: 40rem;
    box-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    bottom: 55rem;
}
.img-6 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.img-6 p{
    position: absolute;
    bottom: -4rem;
    left: -1rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #555;
    margin-bottom: .8rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 290px ;
}
